@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la página sobre MODERN FAMILY y sus PERSONAJES</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>Menú</h2>
<ul>
    <li>@Html.ActionLink("Home","Index","Home")</li>
    <li>@Html.ActionLink("Crear personaje","create","Personaje")</li>
    <li>@Html.ActionLink("Lista personajes","Index","Personaje")</li>
</ul>